.list-detail ul {
  list-style-type: none;
  padding: 5px;
}
.list-detail li {
  display: inline-block;
}
.button{
    position: absolute; 
    right: 0; 
    top: 35%; 
    transform: translate(-50px); 
    font-size:1.2rem;
}
footer {
  background: black;
}
footer p {
  margin: 20px 20px auto;
  color: white;
}
footer img {
  margin: 20px auto;
}
/* .card {
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 10%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   /* .text-title {
    font-size: 1.5em;
    font-weight: bold;
   } */
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   /* .card:hover .card-button {
    transform: translate(300%, 50%);
    opacity: 1;
   } */
