body {
  font-family: "Poppins";
}
.list-detail ul {
  list-style-type: none;
  padding: 5px;
}
.list-detail li {
  display: inline-block;
}
.card-title a {
  text-decoration: none;
  color: black;
}
footer {
  background: black;
}
footer p {
  margin: 20px 20px auto;
  color: white;
}
footer img {
  margin: 20px auto;
}
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
